<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>U of I Ext/ACES demo app</title>

    <meta name="description" content="U of I Ext/ACES demo app">
    <meta name="author" content="Nadia Karlinsky">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <style type="text/css">
        body {
            padding-top: 0px;
        }
        .container {
            margin: 0px auto;
            padding: 20px;
            width: 600px;
        }
    </style>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="container">

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            {% ifequal message.message 'submit_success' %}
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Thanks!</strong> You are signed up.
                </div>
            {% endifequal %}
        {% endif %}
    {% endfor %}
{% endif %}


    {% block content %}Empty page{% endblock %}
</div> <!-- container -->

</body>
</html>
